---
import BaseLayout from "../layouts/BaseLayout.astro";

import Hero from "../components/Hero.astro";
---

<BaseLayout title="About | Matt Kane" description="About Matt Kane">
  <div class="stack gap-20">
    <main class="wrapper about">
      <Hero title="About" />

      <section>
        <h2 class="section-title">Background</h2>
        <div class="content">
          <p>
            I am a product-minded software engineer, with 25 years of experience
            in building for the web. I started out as a pastry chef, but moved
            into coding in my teens. Most of my early career was as a founder,
            but in recent years I have been building dev tool products at
            high-growth startups. I am currently employed as a core maintainer
            at <a href="https://astro.build">the Astro Technology Company</a>.
            Previously I was a principal engineer at Netlify, working on the
            frameworks team.
          </p>
          <p>
            I love the open web and open source software, and have contributed
            to a large number of open source projects over the years, including
            most modern web frameworks.
          </p>
          <p>
            I build a lot of photography and image tools, even though I'm not
            much of a photographer myself. My very first startup was creating
            tools for panoramic photography. I co-founded a company building <a
              href="https://petapixel.com/2013/09/19/triggertrap-releases-revamped-version-2-0-now-offers-14-triggering-options/"
              >app-based camera triggers</a
            >. I then created <a href="/projects/vela-one"
              >the world's fastest camera flash</a
            >. In more recent years, I worked on creating Gatsby's image plugin,
            and most recently I created
            <a href="/projects/unpic">Unpic</a>, a multi-framework component
            library and toolkit for displaying images on the web with around 30k
            weekly downloads.
          </p>
          <p>
            I live in the south-west of England with my wife and two children. I
            like baking and fermenting things, and making and drinking beer and
            cocktails.
          </p>
        </div>
      </section>
      <section>
        <h2 class="section-title">Education</h2>
        <div class="content">
          <p>University of Bath. BSc. Politics and Economics</p>
        </div>
      </section>
    </main>
  </div>

  <style>
    .about {
      display: flex;
      flex-direction: column;
      gap: 3.5rem;
    }

    p {
      margin-bottom: 1em;
    }

    img {
      margin-top: 1.5rem;
      border-radius: 1.5rem;
      box-shadow: var(--shadow-md);
    }

    section {
      display: flex;
      flex-direction: column;
      gap: 0.5rem;
      color: var(--gray-200);
    }

    .section-title {
      grid-column-start: 1;
      font-size: var(--text-xl);
      color: var(--gray-0);
    }

    .content {
      grid-column: 2 / 4;
    }

    .content :global(a) {
      text-decoration: 1px solid underline transparent;
      text-underline-offset: 0.25em;
      transition: text-decoration-color var(--theme-transition);
    }

    .content :global(a:hover),
    .content :global(a:focus) {
      text-decoration-color: currentColor;
    }

    @media (min-width: 50em) {
      .about {
        display: grid;
        grid-template-columns: 1fr 60% 1fr;
      }

      .about > :global(:first-child) {
        grid-column-start: 2;
      }

      section {
        display: contents;
        font-size: var(--text-lg);
      }
    }
  </style>
</BaseLayout>
