---
interface Props {
  href: string;
}

const { href } = Astro.props;
---

<a href={href}><slot /></a>

<style>
  a {
    position: relative;
    text-decoration: none;
    line-height: 1.1;
    overflow: hidden;
    font-family: var(--font-brand);
    white-space: nowrap;
    display: flex;
    place-content: center;
  }

  a svg {
    margin-left: 1em;
  }

  @media (min-width: 20em) {
    a {
      font-size: var(--text-lg);
      place-content: flex-start;
    }
  }

  @media (min-width: 50em) {
    a {
      padding-top: 1rem;
      font-size: var(--text-xl);
      text-align: left;
    }
  }
</style>
