---
import { Image } from "@unpic/astro";
interface Props {
  title: string;
  tagline?: string;
  icon?: string;
  align?: "start" | "center";
}

const { align = "center", tagline, title, icon } = Astro.props;
---

<header class:list={["hero stack gap-4", align]}>
  <div class="stack gap-2">
    <h1 class="title">
      {
        icon ? (
          <Image class="icon" src={icon} alt="" width={56} height={56} />
        ) : null
      }<span>{title}</span>
    </h1>
    {tagline && <p class="tagline">{tagline}</p>}
  </div>
  <slot />
</header>

<style>
  .hero {
    font-size: var(--text-lg);
    text-align: center;
  }

  .icon {
    margin-inline-end: 10px;
  }

  .title .icon,
  .title span {
    display: inline-block;
    vertical-align: middle;
  }

  .title,
  .tagline {
    max-width: 37ch;
    margin-inline: auto;
  }

  .tagline {
    margin-block: 1em;
  }

  .title {
    font-size: var(--text-xl);
    color: var(--gray-0);
  }

  @media (min-width: 50em) {
    .hero {
      font-size: var(--text-xl);
    }

    .start {
      text-align: start;
    }

    .start .title,
    .start .tagline {
      margin-inline: unset;
    }

    .title {
      font-size: var(--text-3xl);
    }
  }
</style>
