---
import type { CollectionEntry } from "astro:content";
import { Image } from "@unpic/astro";

interface Props {
  project: CollectionEntry<"work">;
}

const { data, slug } = Astro.props.project;
---

<a class="card" href={`/projects/${slug}`}>
  <span class="title">{data.title}</span>
  <span class="description">{data.description}</span>
</a>

<style>
  .card {
    padding: 1rem 1.5rem;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: min-content 1fr;
    border: 1px solid var(--gray-800);
    overflow: hidden;
    box-shadow: var(--shadow-sm);
    text-decoration: none;
    font-family: var(--font-brand);
    font-size: var(--text-lg);
    font-weight: 500;
    transition: box-shadow var(--theme-transition);
  }

  .card:hover {
    box-shadow: var(--shadow-md);
  }

  .title {
    grid-area: 1 / 1 / 2 / 2;
    z-index: 2;
    color: var(--gray-200);
  }

  .description {
    grid-area: 2 / 1 / 2 / 2;
    z-index: 2;
    margin-top: 0.5rem;
    color: var(--gray-200);
    font-weight: 300;
    font-size: var(--text-md);
    font-family: var(--font-body);
  }

  @media (min-width: 50em) {
    .card {
      min-height: 10rem;
    }

    .title {
    }
  }
</style>
